<footer class="pt-4 my-md-5 pt-md-5 border-top">
   <div class="row">
     <div class="col-12 col-md">
       <img class="mb-2" src="static/pictures/logo.jpeg" alt="" width="75" height="75">
       <small class="d-block mb-3 text-muted">&copy; 2019-2020 MBOMBO SOLUTIONS &middot;</small>
     </div>
     <div class="col-6 col-md">
       <h5>Accueil</h5>
       <ul class="list-unstyled text-small">
         illustration
       </ul>
     </div>
     <div class="col-6 col-md">
       <h5>Nos Services</h5>
       <ul class="list-unstyled text-small">
         <li><a class="text-muted" href="#">Transformation Digitale</a></li>
         <li><a class="text-muted" href="#">Archivage électronique</a></li>
         <li><a class="text-muted" href="#">Marketing Digital</a></li>
         <li><a class="text-muted" href="#">Conseils & Expertise</a></li>
         <li><a class="text-muted" href="#">Génie Logiciel</a></li>
         <li><a class="text-muted" href="#">Maintenance Informatique</a></li>
       </ul>
     </div>
     <div class="col-6 col-md">
       <h5>Nos Produits</h5>
       <ul class="list-unstyled text-small">
         <li><a class="text-muted" href="#">Arkiv</a></li>
         <li><a class="text-muted" href="#">Ya Tools</a></li>
         <li><a class="text-muted" href="#">Simply Desk</a></li>
       </ul>
     </div>
     <div class="col-6 col-md">
       <h5>Qui Sommes Nous?</h5>
       <ul class="list-unstyled text-small">
         <li><a class="text-muted" href="#">Notre équipe</a></li>
         <li><a class="text-muted" href="#">Lieu</a></li>
         <li><a class="text-muted" href="#">Privacy</a></li>
         <li><a class="text-muted" href="#">Terms</a></li>
       </ul>
     </div>
     <div class="col-6 col-md">
       <h5>Contacts</h5>
       <ul class="list-unstyled text-small">
         <li><a class="text-muted" href="#">Newsletters</a></li>
         <li><a class="text-muted" href="#">Besoin d'un Service</a></li>
         <li><a class="text-muted" href="#">Faire un dévis</a></li>
       </ul>
     </div>
   </div>
 </footer>
